@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@300;400;500&family=Open+Sans:wght@300;400;500&display=swap");
/* heading */
/* font-family: "Libre Baskerville", serif; */
/* small */
/* font-family: "Nunito", sans-serif; */
/* regular */
/* font-family: "Open Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
}
:root {
  --large: 75%;
  --medium: 85%;
  --small: 95%;
  --bg: #ddd0c8;
  --second-bg: #323232;
  --first-text: #000000;
  --second-text: #302d2b;
  --third-text: #464646;
  --white: #ffffff;
}
.container {
  width: var(--large);
  margin: 0 auto;
}
@media screen and (max-width: 948px) {
  .container {
    width: var(--medium);
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: var(--small);
  }
}
